*.pyc
*.joblib
*egg-info
.tox
build
dist
.idea
.ipynb_checkpoints
htmlcov
.coverage.*
.coverage
.cache
docs/_build
.hypothesis
.html
/.project
/.pydevproject
/.settings/
/bin/
/include/
/lib/
/lib64
/pip-selfcheck.json

